.splash-screen-holder {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background-color: var(--primary-color);
  transition: transform cubic-bezier(1, 0.68, 0.16, 0.9) 500ms;
  transform-origin: top;
  overflow: hidden;

  &.hide {
    transform: translateY(-100%);
  }

  .logo-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(75%, 700px);
  }

  svg {
    width: 100%;
    transition: transform cubic-bezier(1, 0.68, 0.16, 0.9) 3000ms;

    path {
      fill: #de5e28;
      stroke: #de5e28;
      stroke-width: 2px;
      stroke-linejoin: round;
      stroke-linecap: round;
      fill-opacity: 0;
      opacity: 0;
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
      transform-box: fill-box;
      animation: fadein 0.5s ease-in-out forwards, draw 1.5s ease-in-out 0.1s forwards,
        fillIn 0.3s ease-in 1s forwards;
    }
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fillIn {
  to {
    fill-opacity: 1;
  }
}
